.bookmarks-container {
  display: flex;
  height: 100%;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
.bookmarks-wrapper {
  overflow-y: auto ;
  height: 100%;
  width: 100%;
}
.btn-bookmark{
  display: flex;
  justify-content: center;
}
.Add-bookmark {
  display: flex;
  margin: 10px;
  .btn {
    margin: 20px 0 0 0;
  }
}

