<div class="edit-bookmark-wrapper has-blur-white-bg">
  <div class="container ">
    <h2 class="isbold" *ngIf="bookmark">Edit Bookmark</h2> 
    <h2 class="isbold onselect" *ngIf="!bookmark">select Bookmark</h2> 
    <form #form = 'ngForm' (ngSubmit)="onFormsubmit(form)" *ngIf="bookmark">
      <div class="form-field">
          <label for="title">Name</label>
          <input  [ngModel]="bookmark.title"  #titleField='ngModel' name="title" class="text-box" type="text" minlength="3" placeholder="Enter Bookmark name ...." >
      </div>
      <div class="form-field">
          <label for="url">URL</label>
          <input  [ngModel]="bookmark.url" required  name="url" class="text-box" type="text" minlength="3" placeholder="Enter Bookmark url ...." >
      </div>
      <div class="buttons">
        <a class="btn" routerLink="../">Cancel</a>
        <button type="button"  (click)="delete(form)" class="btn">delete</button>
        <button  class="btn">Save</button>
      </div>
    </form>
    <a class="btn onselect-btn" *ngIf="!bookmark" routerLink="../">Cancel</a>
  </div>
</div>