
.edit-bookmark-wrapper {
  padding: 20px;
  height: 100%;
}
.edit-bookmark-wrapper  .container{
  border-radius:10px ;
  overflow-y: auto;
  height: fit-content;
  max-height: 100%;
  h4 {
    margin-left: 3px;
    color: #ff000094;
    margin-top: -5px;
    font-weight: 600;
  }
}
.container:has(.onselect){
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
  height: 100% !important;
}
.buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
